html{
    background-color: rgb(0, 0, 0);
    color: #ed1c24;
    padding:10px;
    margin-right: auto;
    margin-left: auto;
}
.header{
    z-index: 100;
    position: relative;
}

.words,p{     
    font-family: "playfair-display", serif;
    font-weight: 600;
    font-style: normal;
}


.main-nav{ 
    background: #ed1c24;
    color: rgb(0, 0, 0);
}

#nav-toggle{
    display: none;}

.hamburger{
    position:fixed; 
    top: 5px;
    left: 5px;
    font-size: 50px;
    cursor: pointer;
    z-index: 999;
}

.main-nav ul{ 
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: #212121;
    color: #ed1c24;
    padding: 15px 3px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 998;
    opacity: 85%;
    }

#nav-toggle:checked ~ .main-nav {
    transform: translateX(0);
}
.main-nav a{
    display: block;
    color: #ed1c24;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "playfair-display", serif;
    font-weight: 900;
    font-style: italic;
}

a:hover{
    color: aliceblue;
    text-decoration: line-through;
}

a{ 
    color: #ed1c24;
    text-decoration: none;
}

.background-video{ 
    position: fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
    filter: (0.4) contrast(1.1) brightness(0.95);
    background: radial-gradient(ellipse at top left,
    rgba(255, 255, 255, 0.15),
    transparent 60%
    );
}


.title{ 
    font-family: "above-the-beyond", script;
    font-weight: 400;
    font-style: normal;
    text-align: end;
    font-size: 70px;
    padding:20px;
    margin-bottom: 0;
    font-size:clamp(35px,6vw,70px);
}

input[type="radio"]{display: none;}

.carousel{
    position:relative;
    width:100%;
    max-width: 1000px;
    overflow: hidden;
    z-index: 1;
    margin: auto;
}

.slides{
    display: flex;
    width: 400%;
    transition:transform 0.5s ease-in;
}

.slide{
    width:calc(100% / 4);
    flex: shrink 0;
}

.slide img{
    width:100%;
    object-fit: cover;
    display: block;
}

#s1:checked ~ .carousel .slides{
    transform: translateX(0%);}
#s2:checked ~ .carousel .slides
{ transform:translateX(-25%);}
#s3:checked ~ .carousel .slides{
    transform: translateX(-50%) ;}
#s4:checked~ .carousel .slides{
    transform: translateX(-75%) ;}

.dots{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.dots label{
    width:10px;
    height:10px;
    border-radius:  100px;
    background: #ed1c24;
    cursor: pointer;   
}
.dots label:hover{
    background: rgb(255, 255, 255);
}

#s1:checked ~ .carousel .dots .dot1,
#s2:checked ~ .carousel .dots .dot2,
#s3:checked ~ .carousel .dots .dot3,
#s4:checked ~ .carousel .dots .dot4

{background: 
    #ed1c24; 
    transform: scale(1.3);}


.container{ 
    display: flex;
    gap:15px;
    flex-wrap: nowrap;
    padding: 20px;
}

.about-film-blurb{
    color: #ed1c24;
    line-height: 1.5;
    font-weight: 800;
    display: flex;
    margin: auto;
    padding: 10px;
    margin-top: 0;
}

.container1{
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    margin-top:15px;
}


.card{ 
    height: 200px;
    flex:1;
    transition: .7s ease-in-out;
    box-shadow: 0 0 25px #fdfdfd;
}

.card:hover{
    flex: 3;
    box-shadow: 0 0 10px #ed1c24;
}

.card img{
    width: 100%;
    height:100%;
    object-fit: cover;
    box-shadow: 0 0 25px #fdfdfd;
}

.cast-blurb{
  display: flex;
  flex-direction: row; 
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.cast-title{
  font-family: "above-the-beyond", cursive;
  font-size: clamp(40px,10vw,40px);
  color: #ed1c24;
  margin: 0 0 10px 0;
  line-height: 1;
}

.image-wrapper{
    position: relative;
    width: clamp(200px,30vw,400px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.image{
    width: 100%;
    height:auto;
    object-fit: cover;
    display: block;
}

.name{ 
    position:absolute;
    font-family: "above-the-beyond", script;
    font-weight: 400;
    width:100%;
    bottom: 0;
    left:0;
    font-size: clamp(20px,3vw,40px);
    margin: 0;
    padding: 10px;
}


.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  text-align: right;
}


.about-title{
    font-family: "above-the-beyond",script;
    font-size: clamp(50px,8vx,100px);
    color: #ed1c24;
    margin: 0 0 20px 0;
    text-align: right;
    line-height: 1;
}


.caption{
    color: #fdfdfd;
    font-family: "playfair-display", serif;
    font-size: 20px;
    line-height: 1.6;
    padding:10px 0;
    text-align: right;
}

.social-label{
    color: #ed1c24;
    text-align: right;
    margin-top: 20px;
}


.social-media{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    padding: 0;
    margin: 10px 0 0 0;
}


.fa-brands,.fa-solids,.fa-regular{
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  font-family: "Font Awesome 6 Brands" !important;
}

.fa-brands:hover {
  opacity: 0.7;
}


.video{
    width: 100%;
    height: auto;
    max-width:900px;
    display: block;
    gap: 10px;
    margin: 0 ;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.video-wrapper{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.poster{
    box-shadow: 0 0 25px #fdfdfd;
    margin: auto;
    max-width: 500px;
    height: auto;
    padding: 0px;
    gap:10px;
}
.poster-block{
    flex-direction: row-reverse;
    display: flex;
    gap:30px;
    align-items: flex-end;
    padding: 20px 0;
    flex-wrap: wrap;
}

.poster-caption{
    font-family: "playfair-display", serif;
    font-size: 15px;
    text-align: center;
    min-width: 250px;
    margin: 0;
    line-height: 1.6;
    flex:1;
}